* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation a {
  color: black;
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Markazi Text', serif;
}

.navigation a:hover {
  background-color: #FFE500;
}

.navigation a.active {
  background-color: #FFE500;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    padding: 10px;
    }

  .navigation a {
    padding: 10px;
    margin-bottom: 10px;
  }

  .navigation a:hover {
    padding: 10px;
  }

  .week-specials > div {
    flex-basis: calc(50% - 20px);
  }

  .week-specials > div img {
    width: 100%;
    height: auto;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #495E57;
  margin-bottom: 50px;
  align-items: start;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

}

.main-grid h1 {
  color: #FFE500;
  font-family: 'Markazi Text', serif;
  font-weight: bold;
  font-size: 64px;
  padding-left: 40px;
  padding-top: 10px;
}

.main-grid h2 {
  color: white;
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: normal;
  align-self: start;
  grid-column: 1;
  padding-left: 40px;
}

.main-grid p {
  color: white;
  padding-left: 40px;
  padding-top: 10px;
  font-family: 'Markazi Text', serif;
  font-size: 22px;
  font-weight: lighter;
  grid-column: 1;
  width: 60vw;

}

.main-grid button {
  padding: 10px 10px;
  border-radius: 16px;
  margin: 40px;
  background-color: #F4CE14;
  font-weight: bold;
  font-family: 'Markazi Text', serif;
  font-size: 18px;
  grid-column: 1;
  width: 150px;
}

.main-grid > * {
  grid-column: 1;
}

.main-grid img {
  display: flex;
  position: absolute;
  height: 350px;
  width: 250px;
  right: 25vh;
  top: 15vh;
  border-radius: 16px;
}

.week-specials-title {
  padding-left: 40px;
  font-family: 'Karla', serif;
  font-weight: bold;
}

.week-specials {
  display: flex;
  margin: 5% 5%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.week-specials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;
  transition: transform 0.3s ease;
}


.week-specials > div h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 2%;
  align-self: flex-start;
}

.week-specials > div p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666;
  align-self: flex-start;
}

.delivery {
  font-weight: bold;
  align-self: flex-start;
  border-radius: 10px;
  padding: 2%;
  background-color: #F4CE14;
}

.week-specials > div img {
  height: 15em;
  width: 20em;
  border-radius: 10px;
}

.testimonials-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
}

.testimonials-group > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #B0A7A7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;
  transition: transform 0.3s ease;
}

.testimonials-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', serif;
  padding-top: 4%;
}

.testimonials-section {
  background-color: #D9D9D9;
}

.restaurant img{
  height: 30em;
  width: 40em;
}

.restaurant h2 {
  padding-left: 40px;
  padding-bottom: 20px;
  font-size: 48px;
}

.restaurant-subtitle {
  padding-left: 40px;
  font-size: 30px;
  padding-bottom: 3%;
}

.restaurant p {
  padding-left: 40px;
}

.restaurant img {
  display: flex;
}
